:root {
    --primary-theme: #fff7cd;
    --sub-theme: #000000;
    --white: #fff;
    --main-font: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-theme);
    color: var(--sub-theme) !important;
  }