<div id="home" class="home-main">
    <div class="home-content">
        <p class="name">
            Hola! I'm Name
        </p>
        <span class="description">
            I am a
            <ngx-typed-writer
                class="type-writer"
                [strings]="['Data Analyst','Product Designer']" 
                [fadeOut]="false"
                [showCursor]='true'
                [cursorChar]="'|'"
                [backSpeed]="30" 
                [typeSpeed]="50"> 
            </ngx-typed-writer>
        </span>
    </div>
    <span class="bg-icon"></span>
</div>