@import url('../../styles.scss');

.home-main {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    // margin-top: 50px;
    height: 100vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.name {
    font-size: 50px;
}

.description {
    font-size: 30px;
}

.type-writer{
    color: darkred;
}

.bg-icon {
    width: 325px;
    height: 400px;
    background-image: url('../../assets/hello-animate.svg');
    background-size: cover;
    margin-right: 100px;
    margin-top: -80px;
}